.pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 7rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.pagination span {
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 15px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    transition: background-color 0.3s ease;
}

.pagination span:hover {
    background-color: #007bff;
    color: white;
}

.pagination span.active {
    background-color: #007bff;
    color: white;
}